extends layout

block content
    h1= title
    form#addUser(name="adduser", method="post", action="/adduser")
        input#userName(type="text", placeholder="username", name="username")
        input#userEmail(type="text", placeholder="useremail", name="useremail")
        button#submit(type="submit") submit